.img{
    width : 150px;
    height: auto;
    margin-bottom: 20px;
    cursor: pointer;
}

.side{
    position:absolute;
    top:100px;
    display : flex;
    flex-direction: column;
}

.tabel_all{
    color:white;
    border-spacing : 0;
    border-collapse: collapse;
    width : 150px;
}


.tdata{
    text-align: center;
    padding-top:3px;
    padding-bottom: 3px;
    cursor: pointer;
    white-space: nowrap; 
    border: 2px solid black;
    background-color:dodgerblue;
}

.tdata:hover{
    background-color:lightskyblue;
}


.selected {
    text-align: center;
    padding-top:3px;
    padding-bottom: 3px;
    cursor: pointer;
    white-space: nowrap; 
    border: 2px solid black;
    background-color: #54f690; /* 選中項目的背景顏色 */
    color: black; /* 選中項目的文字顏色 */
    font-weight: bold;
}
